<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-2 mt-5 text-2xl">
            <% if(admin==true){%> <a href="/educator" class="text-[#1877f2] hover:border-b-2 border-[#1877f2]">Home</a>
                <%} else {%> <a href="/learner" class="text-[#1877f2] hover:border-b-2 border-[#1877f2]">Home</a>
                    <%} %>
        </div>
        <div class="col-start-2 col-span-2">
            <h1 class="mt-12 text-5xl">
                <%= courseName %>
            </h1>
        </div>
        <div class="col-start-2 col-span-4 mt-6 border-t-2 border-black "></div>
        <div class="col-start-2 col-span-2">
            <h2 class="mt-12 text-4xl">
                Chapters
            </h2>
        </div>
        <div class="col-start-2 col-span-2">
            <% if (chapters.length!==0) { %>
                <ul class="mt-5 text-2xl">
                    <% for (let i=0; i < chapters.length; i++) { %>
                        <li class="border border-black mt-5">
                            <a href="<%= url %>/<%= chapters[i].id %>" class="p-4">
                                <%= chapters[i].Cname %>
                            </a>
                        </li>
                        <% } %>
                </ul>
                <% } else { %>
                    <p class="mt-5 text-2xl">There are no chapters available. Create one?</p>
                    <% } %>
                        <input type="hidden" name="courseId" id="" value="<%= courseId %>">
                        <% if (admin==true) {%>
                            <button onclick="window.location.href='/Newchapter/<%= courseId %>'"
                                class="rounded text-white bg-green-600 py-1 px-3 hover:bg-green-900  mt-8 text-xl">Create
                                a New
                                Chpater</button>
                            <%} %>
        </div>
    </div>
</body>

</html>