<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Chapter</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute('content')
        function enroll(id) {
            fetch(`/course/${id}/enroll`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.replace(`/chapter/${id}`);
                    }
                })
                .catch((err) => console.error(err));
        };
    </script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-2 mt-5 text-2xl">
            <% if(admin==true){%> <a href="/educator" class="text-[#1877f2] hover:border-b-2 border-[#1877f2]">Home</a>
                <%} else {%> <a href="/learner" class="text-[#1877f2] hover:border-b-2 border-[#1877f2]">Home</a>
                    <%} %>
        </div>
        <div class="col-start-2 col-span-2">
            <h1 class="mt-12 text-5xl">
                <%= courseName %>
            </h1>
        </div>
        <div class="col-start-2 col-span-4 mt-6 border-t-2 border-black "></div>
        <div class="col-start-2 col-span-2">
            <h2 class="mt-12 text-4xl">
                Chapters
            </h2>
        </div>
        <div class="col-start-2 col-span-2">
            <% if (chapters.length !==0) { %>
                <ul class="mt-5 text-2xl">
                    <% for (let i=0; i < chapters.length; i++) { %>
                        <li class="border border-black mt-1 relative">
                            <div class="flex items-center justify-between p-2">
                                <p class="flex-grow">
                                    <%= chapters[i].Cname %>
                                </p>
                                <i class="fa fa-lock mr-5"></i>
                            </div>
                        </li>
                        <% } %>
                </ul>
                <% } else { %>
                    <p class="mt-5 text-2xl">There are no chapters available. Create one?</p>
                    <% } %>
        </div>
        <div class="col-start-5 border-black border">
            <h2 class="text-3xl flex justify-center items-center my-6">
                <%= courseName %>
            </h2>
            <div class="flex justify-center items-center my-5">
                <button onclick="enroll(<%= courseId %>)"
                    class="rounded text-white bg-cyan-500 py-1 px-3 hover:bg-cyan-900 font-medium m-2">
                    Enroll
                </button>
            </div>
        </div>
    </div>
</body>

</html>