<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Educator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute('content')
        function enroll(id) {
            fetch(`/course/${id}/enroll`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        console.log("Sucssfully enrolled");
                        window.location.reload();
                    }
                })
                .then((data) => {
                    Window.location.reload()
                })
                .catch((err) => console.error(err));
        };
    </script>
</head>

<body>
    <div class="grid grid-cols-5">
        <div class="col-start-2 col-span-2 my-6 flex">
            <h1 class="text-5xl">Welcome <%= userName %>
            </h1>
        </div>
        <div class="col-start-4 flex items-center justify-center flex-col mt-5">
            <a href="/changepassword" class="text-[#1877f2] hover:border-b-2 border-[#1877f2] m-3">Change
                password?</a>
            <button onclick="window.location.href='/signout'"
                class="rounded text-white bg-red-600 py-1 px-3 hover:bg-red-900 font-medium m-2 ">SignOut</button>
        </div>
    </div>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-2 m-4">
            <h2 class="text-3xl">Adminitstative actions</h2>
        </div>
        <div class="col-start-2 col-span-2">
            <button onclick='window.location.href="/course"'
                class="rounded text-white bg-blue-600 py-1 px-3 hover:bg-blue-900 font-medium m-2">Create a new
                course</button>
            <br>
            <button class="rounded text-white bg-green-600 py-1 px-3 hover:bg-green-900 font-medium m-2"
                onclick="window.location.href='/mycourses'">My
                courses</button>
            <br>
            <button class="rounded text-white bg-cyan-500 py-1 px-3 hover:bg-cyan-900 font-medium m-2"
                onclick="window.location.href='/educator/reports'">View
                Reports</button>
        </div>
    </div>
    <% if (enrollCourses.length!==0) { %>
        <div class="grid grid-cols-12">
            <div class="col-start-6 col-span-4 mt-5">
                <h2 class="text-3xl">Enrolled Courses</h2>
            </div>
        </div>
        <div class="grid grid-cols-6 mt-8">
            <% for (let i=0; i < enrollCourses.length; i++) { %>
                <div class="col-start-<%= i%4 + 2 %> border border-black mb-5 mx-2">
                    <h2 class="text-2xl p-2 mb-1 text-center mt-4">
                        <strong>
                            <%= enrollCourses[i].name %>
                        </strong>
                    </h2>
                    <div class="flex items-center justify-center mt-4 mb-4">
                        <button class="text-white bg-green-600 py-1 px-2 hover:bg-green-900 font-medium m-2"
                            onclick="window.location.href='/chapter/<%= enrollCourses[i].id %>'">
                            Continue
                        </button>
                        <p class="border-black border text-white bg-blue-600 p-1">Completed: <%=
                                completionPercentages.find(cp=> cp.courseId ===
                                enrollCourses[i].id).completionPercentage %></p>
                    </div>
                </div>
                <% } %>
                    <% } %>
        </div>
        <div class="grid grid-cols-12">
            <div class="col-start-6 col-span-4 mt-5">
                <h2 class="text-3xl">Available Courses</h2>
            </div>
        </div>
        <div class="grid grid-cols-6 mt-8">
            <% if (Availablecourse.length===0) { %>
                <div class="col-start-3 col-span-4">
                    <p class="text-5xl">No courses are Available</p>
                </div>
                <% } else { %>
                    <% for (let i=0; i < Availablecourse.length; i++) { %>
                        <div class="col-start-<%= i%4 + 2 %> border border-black mb-5 mx-2">
                            <h2 class="text-2xl p-2 mb-1 text-center mt-4">
                                <strong>
                                    <%= Availablecourse[i].name %>
                                </strong>
                            </h2>
                            <div class="ml-4 mt-4 mb-4">
                                <button class="text-white bg-green-600 py-1 px-3 hover:bg-green-900 font-medium m-2"
                                    onclick="window.location.href='/courseView/<%= Availablecourse[i].id %>'">
                                    View Course
                                </button>
                                <button onclick="enroll(<%= Availablecourse[i].id %>)"
                                    class="rounded text-white bg-cyan-500 py-1 px-3 hover:bg-cyan-900 font-medium m-2">
                                    Enroll
                                </button>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
        </div>

</body>

</html>